@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datos Domicilio";
}

<div class="card">
    <div class="card-header">
        Datos Domicilio
    </div>
    <div class="card-body">
        <p class="card-text">Aqui va el formulario.</p>
    </div>
</div>