@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datos Personales";
}

<form id="formDatosPersonales" novalidate>

    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-6">
                    <p class="lead m-0"> Datos de Personales </p>
                </div>
                <div class="col-6 text-end">
                    <button id="btnDPGuardar" type="button" class="btn btn-primary">Guardar</button>
                    <button id="btnDPCancelar" type="reset" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
                
        </div>
        <div class="card-body">
            <div class="row">
                
                <label for="name" class="col-sm-12 col-lg-2 col-form-label">Nombre</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <input type="text" class="form-control" id="name" placeholder="Introduce tu nombre" required>
                    <div class="invalid-feedback">
                        El nombre es requerido.
                    </div>
                </div>
                
                <label for="lastName1" class="col-sm-12 col-lg-2 col-form-label">Apellido Paterno</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <input type="text" class="form-control" id="lastName1" placeholder="Introduce tu apellido paterno" required>
                    <div class="invalid-feedback">
                        El apellido paterno es requerido.
                    </div>
                </div>
                
                <label for="lastName2" class="col-sm-12 col-lg-2 col-form-label">Apellido Materno</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <input type="text" class="form-control" id="lastName2" placeholder="Introduce tu apellido materno">
                </div>
                
                <label for="birthday" class="col-sm-12 col-lg-2 col-form-label">Fecha de Nacimiento</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <input type="date" class="form-control" id="birthday" required>
                    <div class="invalid-feedback">
                        La fecha de nacimiento es requerida.
                    </div>
                </div>
                
                <label for="nacionality" class="col-sm-12 col-lg-2 col-form-label">Nacionalidad</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <select id="nacionality" class="form-select" required>
                        <option value="">Elige...</option>
                        <option value="1">Mexicana</option>
                        <option value="2">Extranjero</option>
                    </select>
                    <div class="invalid-feedback">
                        La nacionalidad es requerida.
                    </div>
                </div>
                
                <label for="curp" class="col-sm-12 col-lg-2 col-form-label">CURP</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <input type="text" class="form-control" id="curp" placeholder="Introduce tu numero de CURP" 
                           pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0\d|1[0-2])(?:[0-2]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$"
                           required>
                    <div class="invalid-feedback">
                        La CURP es requerida.
                    </div>
                </div>
                
                <label for="ine" class="col-sm-12 col-lg-2 col-form-label">INE</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <input type="text" class="form-control" id="ine" placeholder="Introduce tu numero de INE" required>
                    <div class="invalid-feedback">
                        La INE es requerida.
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    
                    @* Spinner *@
                    <div class="d-flex justify-content-center">
                        <div class="spinner-container text-scondary mt-4" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>

                    @* Alert *@
                    <div class="alert alert-dismissible fade hide" role="alert">
                        <strong class="alert-title">Precaucion!</strong> <br/>
                        <span class="alert-detalle">Ocurrio un comportamiento inesperado.</span>
                        <button id="alert-close" type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>

<script src="~/js/presolicitud/DatosPersonalesBM.js" asp-append-version="true"></script>
<script src="~/js/presolicitud/Alert.js" asp-append-version="true"></script>
