@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datos De Recomendacion";
}

<form class="mt-4" id="formDatosRecomendacion">

    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-6">
                    <p class="lead m-0"> Datos de Recomendacion </p>
                </div>
                <div class="col-6 text-end">
                    <button id="btnDRGuardar" type="button" class="btn btn-primary">Guardar</button>
                    <button id="btnDRCancelar" type="reset" class="btn btn-danger">Cancelar</button>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row">

                <label for="persona" class="col-lg-3 col-sm-12 col-form-label">Persona que recomienda</label>
                <div class="col-lg-9 col-sm-12 mb-2">
                    <input type="text" class="form-control" id="persona" placeholder="Nombre completo de la persona" required>
                    <div class="invalid-feedback">
                        El nombre de la persona es requerida.
                    </div>
                </div>

                <label for="telContacto" class="col-lg-3 col-sm-12 col-form-label">Numero de contacto</label>
                <div class="col-lg-9 col-sm-12 mb-2">
                    <input type="tel" class="form-control" id="telContacto" placeholder="Numero a 10 digitos" required>
                    <div class="invalid-feedback">
                        El numero del contacto es requerido.
                    </div>
                </div>
                
                <label for="tipoDeCarta" class="col-lg-3 col-sm-12 col-form-label">Tipo de carta</label>
                <div class="col-lg-4 col-sm-12 mb-2">
                    <select id="tipoDeCarta" class="form-select" required>
                        <option value="">Elige...</option>
                        <option value="1">Personal</option>
                        <option value="2">Laboral</option>
                    </select>
                    <div class="invalid-feedback">
                        El tipo de carta es requerido.
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12"></div>

                <label for="puesto" class="col-sm-12 col-lg-3 col-form-label">Puesto</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <input 
                        type="text" 
                        class="form-control" 
                        id="puesto" 
                        placeholder="Introduce el puesto"
                        disabled
                        required
                    >
                    <div class="invalid-feedback">
                        El puesto es requerido.
                    </div>
                </div>

                <label for="empresa" class="col-sm-12 col-lg-1 col-form-label">Empresa</label>
                <div class="col-sm-12 col-lg-4 mb-2">
                    <input 
                        type="text" 
                        class="form-control" 
                        id="empresa" 
                        placeholder="Introduce la empresa"
                        disabled
                        required
                    >
                    <div class="invalid-feedback">
                        El nombre de la empresa es requerido.
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
        
                        @* Spinner *@
                        <div class="d-flex justify-content-center">
                            <div class="spinner-container-dr text-secondary mt-4" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>

                        @* Alert *@
                        <div class="alert alert-dr alert-dismissible fade hide" role="alert">
                            <strong class="alert-title">Precaucion!</strong> <br />
                            <span class="alert-detalle">Ocurrio un comportamiento inesperado.</span>
                            <button id="alert-close" type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                
                <hr class="mt-3">
                
                <div id="message-table-dr" class="d-flex justify-content-center">
                    <div class="text-primary m-4">
                        <span>Sin Datos de Recomendacion que mostrar</span>
                    </div>
                </div>
                
                <table id="table-list" class="table table-striped hide">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Persona</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody class="table-body">
                    <tr>
                        <th scope="row">0</th>
                        <td>Prueba</td>
                        <td>None Person</td>
                        <td>000 000 0000</td>
                        <td>
                            <button id="btn-edit" type="button" class="btn btn-outline-secondary">Editar</button>
                            <button id="btn-delete" type="button" class="btn btn-outline-danger" onclick="handleDelete()">Eliminar</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</form>

<script src="~/js/presolicitud/DatosRecomendacionBM.js" asp-append-version="true"></script>
<script src="~/js/util/IDatosRecomendacion.js" asp-append-version="true"></script>